* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  font-family: "Arial", sans-serif;
  background: #000;
  wrap: wrap;
}

#main {
  padding: 20px;
  display: flex;
  justify-content: center;
  background: #B9D2B1;
  height: 100vh;
  gap: 30px;
}

section {
    width: 330px;    
    background: #F1D6B8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    height: 55%;
    padding: 20px;
    display: flex;
    gap: 5px;
    wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability {
  background-color: #4cd964;
  color: white;
  font-size: 0.8rem;
  padding: 4px 10px;
  border-radius: 20px;
 
}

.price {
  font-weight: bold;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0;
}

h2 {
  margin: 10px 0 5px;
}

p.designation {
  color: #999;
  margin: 0;
}

.company {
  color:rgb(121, 46, 219);
  text-decoration: none;
  font-size: 0.9rem;
  margin: 5px 0 15px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.skill {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.more-skills {
  background: #3b82f6;
  color: white;
}

.about {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}
button {
  background-color:rgb(238, 149, 47);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

button:active {
  transform: scale(1.1);
}



/* Responsive Design */
@media (max-width: 1024px) {
  #main {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
    padding: 15px;
  }
  section {
    width: 80%;
    min-width: 260px;
    max-width: 500px;
    height: auto;
    padding: 18px;
  }
}

@media (max-width: 600px) {

  section {
    width: 100%;
    padding: 40px;
  }
  h2 {
    font-size: 2rem;
  }
  .profile-img {
    width: 170px;
    height: 170px;
  }
  p.designation {
    font-size: 1.3rem;
  }
  .company {
    font-size: 1.3rem;
  }
  button {
    width: 100%;
    padding: 10px 0;
    font-size: 1.3rem;
  }
  .about {
    font-size: 1.1rem;
  }
  .skills {
    font-size: 4rem;
  }
  .head {
    gap: 5px;
    align-items: flex-start;
  }
}

/* Extra small devices */
@media (max-width: 400px) {
  section {
    padding: 20px;
    
  }
  h2 {
    font-size: 2rem;
  }
  p.designation {
    font-size: 1.1rem;
  }
  .company {
    font-size: 1.1rem;
  }
  .about {
    font-size: 1rem;
  }
  .profile-img {
    width: 150px;
    height: 150px;
  }
}